@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    height: 100vh;
    background-color: lightgrey;
}

.parentContainer {
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 16px;
    height: 100%;
}

.head {
    grid-area: 1 / 1 / 2 / 1;
    background-color: #1d82ad;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.body {
    grid-area: 2 / 1 / 3 / 1;
    display: grid;
    gap: 16px;
    grid-template-columns: 285px 1fr;
    margin-bottom: 16px;
}

.sidebar {
    grid-area: 1 / 1 / 1 / 2;
    background-color: #1d82ad;
    border-radius: 16px;
    margin-left: 16px;
    padding: 28px 32px 0px 32px;
    display: grid;
    grid-template-rows: 20px 1fr 1fr;
}

.sidebarTitle {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.main {
    grid-area: 1 / 2 / 1 / 3;
    background-color: white;
    border-radius: 16px;
    margin-right: 16px;
    padding: 20px;
}

.listDiv {
    border-bottom: 1px solid lightgrey;
    margin: 16px
}

.listDiv p{
    margin: 0;
}

.sidebarCenter p{
    color: white;
    margin: 0;
    font-size: 14px;
    margin-top: 8px;
}

.sidebarCenter p:hover{
    color: #2eb0e8;
    cursor: pointer;
}

.sidebarNew {
    margin-top: 12px;
}

.sidebarNew input{
    background-color: #1d82ad;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
}

.sidebarNew p{
    font-size: 20px;
}

.main .active {
    display: block;
}

.main .inactive {
    display: none;
}